:root {
    --rich-black-fogra-29: hsl(210, 26%, 7%);
    --champagne-pink_20: hsla(23, 61%, 86%, 0.2);
    --independence_30: hsla(245, 17%, 29%, 0.3);
    --gray-x-11-gray: hsl(0, 0%, 73%);
    --champagne-pink: hsl(23, 61%, 86%);
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --deep-saffron: hsl(32, 100%, 59%);
    --dark-orange: hsl(28, 100%, 58%);
    --desert-sand: hsl(23, 49%, 82%);
    --isabelline: hsl(38, 44%, 96%);
    --gainsboro: hsl(0, 0%, 87%);
    --tangerine: hsl(31, 84%, 50%);
    --cinnabar: hsl(3, 90%, 55%);
    --black_95: hsla(0, 0%, 0%, 0.95);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 27%);
}


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.order-highlight-image {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 50%;
    margin-top: 10px;
}
.order-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.order-wrapper {
    width: 362px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #f2f2f2;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.5);
    transition: .4s ease-in-out;

}
.order-description {
    padding: 30px ;
}

.order-description h2, .order-description p {
    text-align: center;
}
.order-description h2 {
    color: #272E50;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.order-description .time-sl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 17px;
    font-weight: bolder;
}

.order-anual-main {
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.anual-left-price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.anual-price {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.anual-price h4 {
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-bottom: 7px;
}
.anual-price span {
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-top: -7px;
}
.anual-right a {
    font-size: 16px;
    color: black;
    font-weight: 600;
    transition: 0.3s;
}

.payment {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: -18px;
    font-size: 22px;
    gap: 5px;
}
.payment > i {
    font-weight: bolder;
    font-size: 24px;
}

.payment-div {
    background-color: white;
    text-align: center;
    color: black;
    padding: 13px 12px;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 30px;
    font-weight: 600;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.payment-div a i {
    color: black;
}


.cancle-button {
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: 0.3s;
    font-weight: 600;
    text-decoration: underline;
}
